



.searchHotel {
    background: #F5F5F5;
    border-radius: 12px;
    padding: 24px 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .searchHotel__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .searchHotel__header-icon {
    width: 44px;
    height: 44px;
    background: #ECECEC url(https://krasnayapolyanaresort.ru/html/dist/e382ae65d84cb8fe3be1.svg) no-repeat center;
    border-radius: 8px;
  }
  
  .searchHotel__header-details {
    padding: 0 77px 0 16px;
  }
  
  .searchHotel__header-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    padding: 0 0 4px;
  }
  
  .searchHotel__header-description {
    font-size: 12px;
    line-height: 16px;
    color: #9F9F9F;
  }
  
  .searchHotel__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .searchHotel__body-item {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
            box-shadow: 0px 8px 16px rgba(28, 28, 28, 0.12);
    border-radius: 8px;
    position: relative;
    margin: 0 8px 0 0;
  }
  
  .searchHotel__body-item input {
    border-radius: 8px;
  }
  
  .searchHotel__body-select {
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 25px 12px 9px;
    color: #1F1F1F;
    width: 257px;
    outline: 0;
  }
  
  .searchHotel__body-label {
    font-size: 12px;
    line-height: 16px;
    color: #9F9F9F;
    top: 9px;
    left: 12px;
    position: absolute;
    display: block;
    z-index: 2;
  }
  
  .searchHotel__body-input {
    border: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 25px 12px 9px;
    color: #1F1F1F;
    width: 159px;
    outline: 0;
  }
  
  .searchHotel__body-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    background: #DE210B;
    border-radius: 8px;
    padding: 16px 46px;
    border: 0;
    outline: 0;
    margin: 0 0 0 4px;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .searchHotel__body-btn:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  
  .searchHotel-notfound {
    background: #F5F5F5;
    border-radius: 12px;
    padding: 32px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 16px 0 0;
  }
  
  .searchHotel-notfound__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #1F1F1F;
  }
  
  .searchHotel-notfound__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #9F9F9F;
    padding: 4px 0 16px;
  }
  
  .searchHotel-notfound__btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 12px;
    background: #ECECEC;
    border-radius: 8px;
    color: #1F1F1F;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }

  
.booking-form-section_guests {
    height: 100%;
    position: relative;
    border: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 25px 12px 9px;
    cursor: pointer;
    color: #1F1F1F;
    width: 257px;
    outline: 0;
  }
  
  .booking-form-section__container {
    cursor: pointer;
    height: 20px;
  }
  
  .booking-form-section__container .searchHotel__body-text {
    border: 0;
    width: 100%;
    height: 20px;
    pointer-events: none;
    background: transparent;
    color: #1f1f1f;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
  }
  
  .booking-form-section__container .searchHotel__body-text:focus-visible,
  .booking-form-section__container .searchHotel__body-text:focus {
    border: 0;
    outline: none;
  }
  
  .booking-form-section__value {
    height: 100%;
  }
  
  .booking-form-section__title {
    color: #9f9f9f;
    display: block;
    font-size: 12px;
    left: 12px;
    line-height: 16px;
    position: absolute;
    top: 9px;
    z-index: 2;
  }
  
  .booking-form-section__dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 8px 8px;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    -o-transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    z-index: 1;
    cursor: default;
  }
  
  .booking-form-section__dropdown-head,
  .booking-form-section__dropdown-footer {
    display: none;
  }




  .searchHotel__body-item{
    cursor: pointer;
  }



@media screen and (max-width: 598px) {
  .mainBanner__container {
    padding: 24px;
  }

  .mainBanner__description-btn {
    width: 100%;
    text-align: center;
  }

  .section-wrapper_revert .discount__picture {
    background-size: auto 100%;
  }

  .searchHotel__body-item:nth-child(2) .qs-datepicker-container {
    left: auto !important;
    right: 0;
  }
}
@media screen and (max-width: 392px) {
  .searchHotel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .searchHotel__header {
    padding: 0 0 16px;
  }

  .searchHotel__header-details {
    padding: 0 0 0 16px;
  }

  .searchHotel__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .searchHotel__body-item:nth-child(1) {
    width: calc(50% - 4px);
    margin: 0 8px 8px 0;
  }

  .searchHotel__body-item:nth-child(2) {
    width: calc(50% - 4px);
    margin: 0 0 8px;
  }

  .searchHotel__body-item:nth-child(3) {
    width: 100%;
    margin: 0 0 8px;
  }

  .searchHotel__body-select {
    width: 100%;
  }

  .searchHotel__body-input {
    width: 100%;
  }

  .searchHotel__body-btn {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 1600px) and (min-width: 1441px) {
  .searchHotel__header-details {
    padding: 0 37px 0 16px;
  }
}
  
@media screen and (max-width: 1440px) and (min-width: 1273px) {
  .searchHotel {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .searchHotel__header-details {
    padding: 0 0 0 16px;
  }

  .searchHotel__body-select {
    width: 227px;
  }
}


@media screen and (max-width: 1272px) and (min-width: 1161px) {
  .searchHotel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .searchHotel__header {
    padding: 0 0 16px;
  }

  .searchHotel__body-select {
    width: 432px;
  }

  .searchHotel__body-input {
    width: 155px;
  }
}

@media screen and (max-width: 1160px) and (min-width: 881px) {
  .searchHotel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .searchHotel__header {
    padding: 0 0 16px;
  }

  .searchHotel__body-select {
    width: 245px;
  }

  .searchHotel__body-input {
    width: 145px;
  }
}

@media screen and (max-width: 880px) and (min-width: 599px) {
  .searchHotel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .searchHotel__header {
    padding: 0 0 16px;
  }

  .searchHotel__header-details {
    padding: 0 0 0 16px;
  }

  .searchHotel__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .searchHotel__body-item:nth-child(1) {
    width: calc(50% - 4px);
    margin: 0 8px 8px 0;
  }

  .searchHotel__body-item:nth-child(2) {
    width: calc(50% - 4px);
    margin: 0 0 8px;
  }

  .searchHotel__body-item:nth-child(3) {
    width: 100%;
    margin: 0 0 8px;
  }

  .searchHotel__body-select {
    width: 100%;
  }

  .searchHotel__body-input {
    width: 100%;
  }

  .searchHotel__body-btn {
    width: 100%;
    margin: 0;
  }

}

@media screen and (max-width: 598px) and (min-width: 393px) {
  .searchHotel {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .searchHotel__header {
    padding: 0 0 16px;
  }

  .searchHotel__header-details {
    padding: 0 0 0 16px;
  }

  .searchHotel__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .searchHotel__body-item:nth-child(1) {
    width: calc(50% - 4px);
    margin: 0 8px 8px 0;
  }

  .searchHotel__body-item:nth-child(2) {
    width: calc(50% - 4px);
    margin: 0 0 8px;
  }

  .searchHotel__body-item:nth-child(3) {
    width: 100%;
    margin: 0 0 8px;
  }

  .searchHotel__body-select {
    width: 100%;
  }

  .searchHotel__body-input {
    width: 100%;
  }

  .searchHotel__body-btn {
    width: 100%;
    margin: 0;
  }
}



.container {
  padding: 48px 32px;
  @include wrapper;
  border-bottom: 1px solid #F5F5F5;
}

.container {
  padding: 48px 32px;
  @include wrapper;
  border-bottom: 1px solid #F5F5F5;
  margin: 0 auto;
}
@media screen and (max-width: 1160px) and (min-width: 881px) {
  .container{
    padding: 32px;
  }
}
@media screen and (max-width: 880px) and (min-width:599px) {
  .container{
    padding: 36px 32px;
  }
}
@media screen and (max-width: 598px) and (min-width:393px) {
  .container{
    padding: 32px 24px;
    overflow: hidden;
  }
}
@media screen and (max-width: 392px) {
  .container{
    padding: 32px 24px;
    overflow: hidden;
  }
}
@media screen and (min-width: 1601px) {
  .container{
    width: 1600px;
  }
}
@media screen and (max-width: 1600px) and (min-width:1440px) {
  .container{
    width: 1440px;
  }
}
@media screen and (max-width: 1439px) and (min-width:1273px) {
    .container{
      width: 1272px;
    }
}
@media screen and (max-width: 1272px) and (min-width:1161px) {
    .container{
      width: 1160px;
    }
}
@media screen and (max-width: 1160px) and (min-width:881px) {
    .container{
      width: 880px;
    }
}
@media screen and (max-width: 880px) and (min-width:599px) {
  .container{
    width: 598px;
  }
}
@media screen and (max-width: 598px) and (min-width:393px) {
  .container{
    width: 392px;
  }
}
@media screen and (max-width: 392px) {
  .container{
    width: 360px;
  }
}

.wrapper {
  width: 100%;
  overflow-y: clip;
  overflow-x: clip;
}

.relative{
  position: relative;
}